@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 BTNS
6.0 FOOTER
7.0 Main Header & nav
8.0 INICIO
9.0 DESTINOS
10.0 SLIDERS
11.0 ANIMACIONES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*para eliminar los float*/
header, section, footer, aside {
  clear: both;
}

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto;
}

/*input al 100%*/
input, select {
  display: block;
  width: 100%;
}

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  border: none;
  background-color: transparent;
}

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
/*HELVETICA*/
@font-face {
  font-family: "Helvetica Neue Roman";
  src: url("../fonts/helvetica/helveticaneueltstd-roman.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-roman.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-roman.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-ex.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-ex.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-ex.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-ex.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-it.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-it.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-it.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-bd.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-bd.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-bd.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-md.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-md.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-md.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-md.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-lt.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-lt.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-lt.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
/*
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-th.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-th.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-th.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-th.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}*/
/*DRUK*/
@font-face {
  font-family: "Druk";
  src: url("../fonts/druk/druk-medium.eot");
  src: url("../fonts/druk/druk-medium.woff") format("woff"), url("../fonts/druk/druk-medium.svg") format("svg"), url("../fonts/drukdruk-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
/*@font-face {
    font-family: 'Druk';
    src: url('../fonts/druk/druk-heavy.eot');
    src: url('../fonts/druk/druk-heavy.woff') format('woff'),
        url('../fonts/druk/druk-heavy.svg') format('svg'),
        url('../fonts/druk/druk-heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('../fonts/druk/druk-bold.eot');
    src: url('../fonts/druk/druk-bold.woff') format('woff'),
        url('../fonts/druk/druk-bold.svg') format('svg'),
        url('../fonts/druk/druk-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Super';
    src: url('../fonts/druk/druk-super.eot');
    src: url('../fonts/druk/druk-super.woff') format('woff'),
        url('../fonts/druk/druk-super.svg') format('svg'),
        url('../fonts/druk-super.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}*/
/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/*GRID OPTIONS*/
/*
@media (min-width: $md) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;


&:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
*/
/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/
html, body {
  font-family: "Helvetica Neue Roman", sans-serif;
  color: #585955;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  html, body {
    font-size: 16px;
    line-height: 24px;
  }
}

.main-wrapper {
  position: relative;
}

.inner-wrapper {
  position: relative;
}

.section-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}

.only-mobile {
  display: block;
}
@media (min-width: 992px) {
  .only-mobile {
    display: none;
  }
}

.only-pc {
  display: none;
}
@media (min-width: 992px) {
  .only-pc {
    display: block;
  }
}

@media (min-width: 1200px) {
  .texto-azul-pc {
    color: #2B00FF;
  }
}

/*--------------------------------------------------------------
5.0 BTNS
--------------------------------------------------------------*/
.btn, .viajo ul li a, .viaje-wrapper ul li a, .viajo-wrapper ul li a, .icon-btn-right, .btn-icon-left {
  cursor: pointer;
  position: relative;
  outline: none;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}

.btn-hover-opacity:hover, .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover, .viajo ul li a:hover, .viaje-wrapper ul li a:hover, .viajo-wrapper ul li a:hover, .icon-btn-right:hover, .btn-icon-left-notransition:hover, .btn-icon-left:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.btn-icon-left img {
  padding-right: 10px;
  vertical-align: middle;
}

.btn-icon-left-notransition {
  cursor: pointer;
  position: relative;
  outline: none;
}
.btn-icon-left-notransition img {
  padding-right: 10px;
  vertical-align: middle;
}

.icon-btn-right {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  width: 165px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  border-radius: 150px;
  padding-left: 15px;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 2px;
}
@media (min-width: 1600px) {
  .icon-btn-right {
    font-size: 16px;
    padding-left: 35px;
    padding-right: 25px;
    height: 60px;
    width: 220px;
    height: 55px;
    width: 210px;
  }
}
.icon-btn-right img {
  vertical-align: middle;
  width: 15px;
}
@media (min-width: 1600px) {
  .icon-btn-right img {
    width: 19px;
  }
}

/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/
.main-footer {
  position: relative;
  z-index: 2;
  background-color: #2B00FF;
  color: #fff;
  padding: 50px 40px 60px;
  font-size: 14px;
  line-height: 28px;
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 100px 100px 45px;
  }
}
@media (min-width: 1600px) {
  .main-footer {
    padding: 200px 140px 65px;
  }
}

.footer-wrapper {
  margin-top: 60px;
}
@media (min-width: 992px) {
  .footer-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}

.contacto {
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  .contacto {
    width: 25%;
  }
}
.contacto li {
  margin: 6px 0;
}

@media (min-width: 992px) {
  .sucursales {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    width: 75%;
  }
}
.sucursales li {
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .sucursales li {
    width: 33%;
  }
}
.sucursales li h4 {
  font-family: "Helvetica Neue", "Helvetica Neue Roman", sans-serif;
  font-weight: 700;
}

.title-patrocinadores {
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .title-patrocinadores {
    margin-right: 55px;
  }
}

.patrocinadores {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
.patrocinadores li {
  margin-right: 20px;
}
@media (min-width: 992px) {
  .patrocinadores li {
    margin-right: 40px;
  }
}

.legales-wrapper {
  margin-top: 60px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  font-size: 10px;
  line-height: 17px;
}
@media (min-width: 992px) {
  .legales-wrapper {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
  }
}
.legales-wrapper img {
  width: 57px;
}
@media (min-width: 768px) {
  .legales-wrapper img {
    width: 67px;
  }
}
.legales-wrapper .legales {
  padding-left: 20px;
  width: 80%;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  flex-grow: 1;
}
.legales-wrapper .legales p {
  display: block;
  margin: 10px 0;
}
@media (min-width: 992px) {
  .legales-wrapper .legales p {
    display: inline;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .row-reverse-dk {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .align-center-dk {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
}

/*--------------------------------------------------------------
7.0 Main Header & nav
--------------------------------------------------------------*/
/*
 * main-header
*/
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111111;
  background-color: transparent;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
@media (min-width: 1200px) {
  .main-header {
    height: 100px;
  }
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  z-index: 9;
  /*
  * toogle
  */
  /*
  * MAIN MENU
  */
}
.navbar .brand-name {
  background-color: #fff;
  width: 135px;
  height: 100%;
  position: relative;
}
@media (min-width: 1200px) {
  .navbar .brand-name {
    width: 200px;
  }
}
.navbar .brand-name img {
  width: 90%;
  max-width: 90px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
@media (min-width: 1200px) {
  .navbar .brand-name img {
    max-width: 120px;
  }
}
.navbar .tagline {
  display: none;
}
@media (min-width: 1200px) {
  .navbar .tagline {
    color: #fff;
    display: block;
    position: absolute;
    left: 230px;
    font-size: 14px;
    line-height: 17px;
  }
}
.navbar .tagline .line {
  position: absolute;
  width: 15px;
  height: 1.5px;
  background-color: #fff;
  right: 0;
  top: 10px;
}
.navbar .toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 11;
  cursor: pointer;
  display: block;
  border: none;
  height: 70px;
  width: 70px;
  background-color: #fff;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
@media (min-width: 1200px) {
  .navbar .toggle {
    height: 100px;
    width: 100px;
  }
}
.navbar .toggle:focus {
  border: none;
  outline: none;
}
.navbar .toggle .tog1 {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #2B00FF;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: translate3D(-50%, -50%, 0);
  -moz-transform: translate3D(-50%, -50%, 0);
  -ms-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .navbar .toggle .tog1 {
    top: 41%;
    width: 40px;
  }
}
.navbar .toggle .tog2 {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #2B00FF;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: translate3D(-50%, -50%, 0);
  -moz-transform: translate3D(-50%, -50%, 0);
  -ms-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .navbar .toggle .tog2 {
    width: 40px;
  }
}
.navbar .toggle .tog3 {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #2B00FF;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  -moz-transform: translate3D(-50%, -50%, 0);
  -ms-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .navbar .toggle .tog3 {
    top: 59%;
    width: 40px;
  }
}
.navbar .toggle-open {
  background-color: transparent;
  position: fixed;
}
.navbar .toggle-open .tog2 {
  display: none;
}
.navbar .toggle-open .tog1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 30%;
  top: initial;
  background-color: #fff;
}
.navbar .toggle-open .tog3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff;
  left: 30%;
  top: initial;
}
.navbar .main-menu-wrapper {
  position: fixed;
  background-color: #2B00FF;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  top: 0;
  height: 100vh;
  width: 75%;
  max-width: 675px;
  right: -300px;
  opacity: 0;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding: 120px 10px 30px 30px;
  padding-top: 20%;
  padding-bottom: 12%;
}
@media (min-width: 768px) {
  .navbar .main-menu-wrapper {
    padding-top: 9%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 35%;
    font-size: 18px;
    line-height: 36px;
  }
}
@media (min-width: 1600px) {
  .navbar .main-menu-wrapper {
    padding: 250px 80px 200px 138px;
    padding-top: 10%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    width: 35%;
    font-size: 24px;
    line-height: 48px;
  }
}
.navbar .main-menu-wrapper .menu-contacto {
  font-size: 12px;
  line-height: 36px;
}
@media (min-width: 1600px) {
  .navbar .main-menu-wrapper .menu-contacto {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
8.0 INICIOS
--------------------------------------------------------------*/
.home-header {
  position: relative;
  background-color: #2B00FF;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 2000ms;
  -moz-transition: all 2000ms;
  -ms-transition: all 2000ms;
  transition: all 2000ms;
}
.home-header .legales-header {
  z-index: 2;
  margin-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .home-header .legales-header {
    bottom: 10px;
  }
}
@media (min-width: 992px) {
  .home-header .legales-header {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin: 0;
    bottom: initial;
    top: 0;
    right: 150px;
    height: 70px;
  }
}
@media (min-width: 1200px) {
  .home-header .legales-header {
    height: 100px;
  }
}
.home-header .legales-header p {
  font-size: 8px;
  font-family: "Helvetica Neue", "Helvetica Neue Roman", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 10px;
}
@media (min-width: 370px) {
  .home-header .legales-header p {
    font-size: 9px;
  }
}
@media (min-width: 400px) {
  .home-header .legales-header p {
    font-size: 10px;
    line-height: 12px;
  }
}
@media (min-width: 1200px) {
  .home-header .legales-header p {
    text-align: right;
  }
}

/*
 * ICONS SUPERIORES
 * se anida en nosotros
*/
.icon-header .left-icons-header {
  display: none;
}
@media (min-width: 1200px) {
  .icon-header .left-icons-header {
    color: #fff;
    height: 400px;
    width: 100px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    z-index: 111;
    position: absolute;
    top: -200px;
    left: 0;
  }
}
@media (min-width: 1600px) {
  .icon-header .left-icons-header {
    width: 140px;
  }
}
.icon-header .left-icons-header img {
  width: 9px;
}
@media (min-width: 1600px) {
  .icon-header .left-icons-header img {
    width: 12px;
  }
}
.icon-header .left-icons-header p {
  margin-top: 35px;
  font-weight: 600;
  font-size: 12px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
}
@media (min-width: 1600px) {
  .icon-header .left-icons-header p {
    font-size: 14px;
  }
}
.icon-header .left-icons-header p:before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: -220px;
  height: 1px;
  width: 200px;
  background-color: #fff;
}
.icon-header .right-icons-header {
  display: none;
}
@media (min-width: 1200px) {
  .icon-header .right-icons-header {
    display: block;
    color: #fff;
    height: 100px;
    width: 800px;
    z-index: 111;
    position: absolute;
    top: -950px;
    right: 0;
    transform-origin: bottom right;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@media (min-width: 1600px) {
  .icon-header .right-icons-header {
    height: 140px;
    top: -1000px;
  }
}
.icon-header .right-icons-header ul {
  height: 100%;
  width: 100%;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 600;
}
@media (min-width: 1600px) {
  .icon-header .right-icons-header ul {
    font-size: 14px;
  }
}
.icon-header .right-icons-header ul li {
  margin-right: 15px;
}
@media (min-width: 1600px) {
  .icon-header .right-icons-header ul li {
    margin-right: 30px;
  }
}
.icon-header .right-icons-header ul li img {
  width: 20px;
  padding-right: 5px;
}
@media (min-width: 1600px) {
  .icon-header .right-icons-header ul li img {
    padding-right: 10px;
    width: 26px;
  }
}
.icon-header .rotate-img {
  -webkit-transform: rotate(90deg) translateX(2px);
  -moz-transform: rotate(90deg) translateX(2px);
  -ms-transform: rotate(90deg) translateX(2px);
  transform: rotate(90deg) translateX(2px);
}
@media (min-width: 1600px) {
  .icon-header .rotate-img {
    -webkit-transform: rotate(90deg) translateX(5px);
    -moz-transform: rotate(90deg) translateX(5px);
    -ms-transform: rotate(90deg) translateX(5px);
    transform: rotate(90deg) translateX(5px);
  }
}

/*
 * NOSOTROS
*/
.nosotros-wrapper {
  position: relative;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
.nosotros-wrapper .icon-vertical {
  width: 20%;
  max-width: 75px;
  background-color: #2B00FF;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .nosotros-wrapper .icon-vertical {
    max-width: 100px;
  }
}
@media (min-width: 1600px) {
  .nosotros-wrapper .icon-vertical {
    max-width: 140px;
  }
}
.nosotros-wrapper .icon-vertical img {
  width: 90%;
  display: block;
  margin: 10px auto;
  max-width: 72px;
  height: auto;
}
@media (min-width: 1200px) {
  .nosotros-wrapper .icon-vertical img {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .nosotros-wrapper .icon-vertical img {
    width: 72px;
  }
}
.nosotros-wrapper .contenido-nosotros {
  width: 80%;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  flex-grow: 1;
  color: #2B00FF;
}
@media (min-width: 992px) {
  .nosotros-wrapper .contenido-nosotros {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
.nosotros-wrapper .contenido {
  font-size: 15px;
  padding: 70px 15% 20px 10%;
}
@media (min-width: 992px) {
  .nosotros-wrapper .contenido {
    font-size: 16px;
    width: 45%;
    padding: 220px 5% 140px 8%;
  }
}
@media (min-width: 1600px) {
  .nosotros-wrapper .contenido {
    padding: 300px 5% 150px 8%;
  }
}
.nosotros-wrapper .contenido h2 {
  font-family: "Druk", "Helvetica Neue Roman", sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .nosotros-wrapper .contenido h2 {
    font-size: 100px;
    line-height: 198px;
    margin-bottom: 40px;
  }
}
.nosotros-wrapper .contenido p {
  margin-bottom: 20px;
}
.nosotros-wrapper .contenido a {
  color: #FF6C6C;
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica Neue Roman", sans-serif;
  font-weight: 500;
}
.nosotros-wrapper .contenido a:after {
  content: ">";
  padding-left: 7px;
}
@media (min-width: 1200px) {
  .nosotros-wrapper .contenido a {
    margin-top: 60px;
  }
}
@media (min-width: 1600px) {
  .nosotros-wrapper .contenido a {
    margin-top: 100px;
  }
}
.nosotros-wrapper .imagen-nosotros {
  position: relative;
  overflow: hidden;
  height: 160px;
  width: 100%;
}
@media (min-width: 992px) {
  .nosotros-wrapper .imagen-nosotros {
    width: 55%;
    height: 100%;
  }
}
.nosotros-wrapper .imagen-nosotros img {
  position: absolute;
  top: 50%;
  right: 0;
  width: 414px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 992px) {
  .nosotros-wrapper .imagen-nosotros img {
    width: 952px;
    right: initial;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

/*
 * DESTINOS
*/
.destinos-wrapper {
  position: relative;
}
@media (min-width: 992px) {
  .destinos-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
}
.destinos-wrapper li {
  width: 100%;
  height: 365px;
}
@media (min-width: 768px) {
  .destinos-wrapper li {
    height: 540px;
  }
}
@media (min-width: 992px) {
  .destinos-wrapper li {
    width: 33%, 33;
    height: 365px;
  }
}
@media (min-width: 1600px) {
  .destinos-wrapper li {
    height: 540px;
  }
}
.destinos-wrapper .destino {
  position: relative;
  overflow: hidden;
  padding: 35px 35px 50px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
@media (min-width: 1600px) {
  .destinos-wrapper .destino {
    padding: 45px 45px 60px;
  }
}
.destinos-wrapper .destino .icon-top-right {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
}
@media (min-width: 1600px) {
  .destinos-wrapper .destino .icon-top-right {
    width: 125px;
    height: 125px;
  }
}
.destinos-wrapper .destino .icon-top-right img {
  width: 100%;
}
.destinos-wrapper .destino .super-title {
  font-family: "Druk", "Helvetica Neue Roman", sans-serif;
  font-weight: 500;
  font-size: 178px;
  line-height: 147px;
  -webkit-text-stroke: 2px #585955;
  color: transparent;
}
@media (min-width: 1600px) {
  .destinos-wrapper .destino .super-title {
    font-size: 240px;
    line-height: 198px;
  }
}
.destinos-wrapper .destino .title-destino {
  position: relative;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 60px;
}
@media (min-width: 1600px) {
  .destinos-wrapper .destino .title-destino {
    font-size: 24px;
    line-height: 28px;
  }
}
.destinos-wrapper .destino .title-destino:after {
  content: "";
  display: block;
  width: 70px;
  height: 14px;
  background-image: url("../images/estrellas.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .destinos-wrapper .destino .title-destino:after {
    background-image: url("../images/estrellas@2x.png");
    background-size: contain;
  }
}
@media (min-width: 1200px) {
  .destinos-wrapper .destino .title-destino:after {
    background-image: url("../images/estrellas.png");
    background-size: contain;
    width: 96px;
    height: 16px;
    bottom: -30px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .destinos-wrapper .destino .title-destino:after {
    background-image: url("../images/estrellas@2x.png");
    background-size: contain;
  }
}
.destinos-wrapper .bariloche {
  background-color: #FF6C6C;
}
.destinos-wrapper .bariloche .icon-top-right {
  background-color: #72DDD3;
}
.destinos-wrapper .bariloche .super-title {
  -webkit-text-stroke: 2px #72DDD3;
}
.destinos-wrapper .bariloche a {
  background-color: #72DDD3;
}
.destinos-wrapper .cancun {
  background-color: #72DDD3;
}
.destinos-wrapper .cancun .icon-top-right {
  background-color: #F4E41E;
}
.destinos-wrapper .cancun .super-title {
  -webkit-text-stroke: 2px #F4E41E;
}
.destinos-wrapper .cancun a {
  background-color: #F4E41E;
}
.destinos-wrapper .londres {
  background-color: #F4E41E;
}
.destinos-wrapper .londres .icon-top-right {
  background-color: #FF6C6C;
}
.destinos-wrapper .londres .super-title {
  -webkit-text-stroke: 2px #FF6C6C;
}
.destinos-wrapper .londres a {
  background-color: #FF6C6C;
}

/*
 * EXPERIENCIAS
*/
.wrapper-slider-testimonios {
  background-color: #2B00FF;
  color: #fff;
}
@media (min-width: 992px) {
  .wrapper-slider-testimonios ul .experiencia {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
  }
}
.wrapper-slider-testimonios .experiencia-data {
  padding: 50px 40px 100px;
  height: 380px;
}
@media (min-width: 768px) {
  .wrapper-slider-testimonios .experiencia-data {
    height: 410px;
  }
}
@media (min-width: 992px) {
  .wrapper-slider-testimonios .experiencia-data {
    padding: 50px 40px 50px;
    width: 50%;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .wrapper-slider-testimonios .experiencia-data {
    padding: 50px 100px 100px;
    height: 350px;
  }
}
@media (min-width: 1600px) {
  .wrapper-slider-testimonios .experiencia-data {
    padding: 80px 140px 70px;
    height: 500px;
  }
}
.wrapper-slider-testimonios .experiencia-data .title-experiencia {
  font-family: "Druk", "Helvetica Neue Roman", sans-serif;
  font-weight: 500;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 55px;
  margin-top: 40px;
}
@media (min-width: 1600px) {
  .wrapper-slider-testimonios .experiencia-data .title-experiencia {
    margin-bottom: 80px;
    font-size: 100px;
    line-height: 100px;
  }
}
.wrapper-slider-testimonios .experiencia-data .nombre-experiencia {
  margin-top: 30px;
}
.wrapper-slider-testimonios .experiencia-data img {
  width: auto;
}
.wrapper-slider-testimonios .experiencia-contenido {
  height: 365px;
}
@media (min-width: 768px) {
  .wrapper-slider-testimonios .experiencia-contenido {
    height: 540px;
  }
}
@media (min-width: 992px) {
  .wrapper-slider-testimonios .experiencia-contenido {
    width: 50%;
    height: auto;
  }
}

/*
 * COMPRA AHORA
*/
@media (min-width: 992px) {
  .section-compra {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.section-compra .texto-destacado {
  color: #2B00FF;
  text-transform: uppercase;
  font-size: 73px;
  line-height: 75px;
  font-family: "Druk", "Helvetica Neue Roman", sans-serif;
  font-weight: 500;
  padding: 110px 20px 60px 40px;
}
@media (min-width: 992px) {
  .section-compra .texto-destacado {
    width: 50%;
    padding: 60px 0 50px;
    font-size: 160px;
    line-height: 140px;
  }
}
@media (min-width: 1600px) {
  .section-compra .texto-destacado {
    padding: 80px 0 40px;
    font-size: 240px;
    line-height: 200px;
  }
}
.section-compra .compra-wrapper {
  padding: 0 60px 60px 40px;
}
@media (min-width: 992px) {
  .section-compra .compra-wrapper {
    padding: 60px 60px 60px 40px;
    width: 50%;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .section-compra .compra-wrapper {
    padding: 60px 20px 55px 100px;
  }
}
@media (min-width: 1600px) {
  .section-compra .compra-wrapper {
    padding: 80px 40px 50px 140px;
  }
}
.section-compra .compra-wrapper h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2B00FF;
}
@media (min-width: 1200px) {
  .section-compra .compra-wrapper h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (min-width: 1600px) {
  .section-compra .compra-wrapper h2 {
    font-size: 36px;
    line-height: 48px;
  }
}
.section-compra .compra-wrapper .wrapper-button {
  margin-top: 130px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .section-compra .compra-wrapper .wrapper-button {
    margin-top: 20px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1600px) {
  .section-compra .compra-wrapper .wrapper-button {
    margin-top: 30px;
    margin-bottom: 115px;
  }
}
.section-compra .compra-wrapper .wrapper-button a {
  background-color: #2B00FF;
  color: #fff;
}

/*
 * VIAJO / VIAJE
*/
@media (min-width: 992px) {
  .viajo-viaje-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
}

.viajo, .viaje-wrapper, .viajo-wrapper {
  color: #fff;
  padding: 40px 40px;
  font-size: 12px;
}
@media (min-width: 992px) {
  .viajo, .viaje-wrapper, .viajo-wrapper {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .viajo, .viaje-wrapper, .viajo-wrapper {
    font-size: 16px;
    padding: 80px 50px 65px 100px;
  }
}
@media (min-width: 1600px) {
  .viajo, .viaje-wrapper, .viajo-wrapper {
    padding: 90px 50px 70px 140px;
  }
}
.viajo img, .viaje-wrapper img, .viajo-wrapper img {
  margin-bottom: 10px;
}
.viajo h3, .viaje-wrapper h3, .viajo-wrapper h3 {
  font-size: 24px;
  line-height: 48px;
}
.viajo ul, .viaje-wrapper ul, .viajo-wrapper ul {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.viajo ul li, .viaje-wrapper ul li, .viajo-wrapper ul li {
  line-height: 12px;
  padding-right: 7px;
  border-right: 1px solid #fff;
  margin-left: 7px;
  margin-bottom: 10px;
}
.viajo ul li:first-child, .viaje-wrapper ul li:first-child, .viajo-wrapper ul li:first-child {
  margin-left: 0;
}
.viajo ul li:last-child, .viaje-wrapper ul li:last-child, .viajo-wrapper ul li:last-child {
  border-right: none;
  padding-right: 0;
}
.viajo-wrapper {
  background: #2B00FF;
}

.viaje-wrapper {
  background-color: #585955;
}

/*
 * INSTAGRAM
*/
@media (min-width: 992px) {
  .instagram-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
}
.instagram-wrapper .instagram {
  cursor: pointer;
  width: 100%;
  position: relative;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 340px;
  /*@media (min-width: $lg) {
      height: 420px;
  }
  @media (min-width: $xlg) {
      height: 550px;
  }*/
}
@media (min-width: 768px) {
  .instagram-wrapper .instagram {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .instagram-wrapper .instagram {
    height: auto;
    width: 30%;
  }
}
.instagram-wrapper .instagram h2 {
  font-family: "Helvetica Neue", "Helvetica Neue Roman", sans-serif;
  font-weight: 500;
  color: #2B00FF;
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 1200px) {
  .instagram-wrapper .instagram h2 {
    font-size: 36px;
    line-height: 48px;
  }
}
.instagram-wrapper .instagram img {
  width: 35px;
}
@media (min-width: 1200px) {
  .instagram-wrapper .instagram img {
    width: 55px;
  }
}
.instagram-wrapper .wrapper-feed {
  display: none;
}
@media (min-width: 992px) {
  .instagram-wrapper .wrapper-feed {
    color: #fff;
    width: 70%;
    display: block;
    background-color: #FF6C6C;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
}

/*--------------------------------------------------------------
9.0 DESTINOS
--------------------------------------------------------------*/
.destinos-header {
  background-color: #EBEAEA;
  color: #585955;
  padding: 130px 25px 50%;
}
@media (min-width: 1200px) {
  .destinos-header {
    padding: 205px 100px 100px;
  }
}
@media (min-width: 1600px) {
  .destinos-header {
    padding: 205px 140px 110px;
  }
}
.destinos-header .super-title {
  font-family: "Druk", "Helvetica Neue Roman", sans-serif;
  font-weight: 500;
  font-size: 178px;
  line-height: 147px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1600px) {
  .destinos-header .super-title {
    font-size: 240px;
    line-height: 198px;
  }
}
.destinos-header .super-title.verde {
  color: #72DDD3;
}
.destinos-header .super-title.amarillo {
  color: #F4E41E;
}
.destinos-header .super-title.rosa {
  color: #FF6C6C;
}
.destinos-header .title-destino {
  position: relative;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 60px;
}
@media (min-width: 1600px) {
  .destinos-header .title-destino {
    font-size: 36px;
    line-height: 36px;
  }
}
.destinos-header .title-destino:after {
  content: "";
  display: block;
  width: 70px;
  height: 14px;
  background-image: url("../images/estrellas.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .destinos-header .title-destino:after {
    background-image: url("../images/estrellas@2x.png");
    background-size: contain;
  }
}
@media (min-width: 1200px) {
  .destinos-header .title-destino:after {
    background-image: url("../images/estrellas.png");
    background-size: contain;
    width: 96px;
    height: 16px;
    bottom: -30px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .destinos-header .title-destino:after {
    background-image: url("../images/estrellas@2x.png");
    background-size: contain;
  }
}
.destinos-header .icon-header-destino {
  background-color: #585955;
  color: #fff;
}
.destinos-header .icon-header-destino.verde {
  background-color: #72DDD3;
  color: #fff;
}

.destinos-page-section .icon-header .right-icons-header {
  color: #2B00FF;
}
.destinos-page-section .icon-vertical {
  padding-top: 75px;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .destinos-page-section .icon-vertical {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    padding-top: 0;
  }
}
.destinos-page-section .icon-vertical.verde {
  background-color: #72DDD3;
}
.destinos-page-section .icon-vertical.amarillo {
  background-color: #F4E41E;
}
.destinos-page-section .icon-vertical.rosa {
  background-color: #FF6C6C;
}

.destino {
  color: #585955;
  font-size: 15px;
  padding: 75px 30px 30px;
}
@media (min-width: 992px) {
  .destino {
    font-size: 16px;
    width: 45%;
  }
}
@media (min-width: 1600px) {
  .destino {
    padding: 120px 143px 120px 140px;
  }
}
.destino .destino-titulo {
  font-family: "Druk", "Helvetica Neue Roman", sans-serif;
  font-size: 55px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media (min-width: 1600px) {
  .destino .destino-titulo {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 45px;
  }
}
.destino .destino-titulo img {
  width: 46px;
  margin-left: 10px;
}
@media (min-width: 1600px) {
  .destino .destino-titulo img {
    width: 87px;
    margin-left: 25px;
  }
}
.destino .resumen {
  margin-bottom: 25px;
  font-size: 15px;
}
@media (min-width: 1600px) {
  .destino .resumen {
    font-size: 18px;
  }
}
.destino .data-destino {
  font-size: 15px;
}
@media (min-width: 1600px) {
  .destino .data-destino {
    font-size: 18px;
  }
}
.destino .data-destino h4 {
  font-weight: 600;
}
.destino .data-destino ul {
  margin-bottom: 25px;
}

.data-extra {
  padding: 20px 60px 30px 30px;
  color: #585955;
  background-color: #EBEAEA;
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {
  .data-extra {
    width: 55%;
    padding: 75px 30px 30px;
  }
}
@media (min-width: 1600px) {
  .data-extra {
    padding: 120px 143px 120px 110px;
  }
}
.data-extra a {
  border: 1px solid #585955;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .data-extra a {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media (min-width: 1600px) {
  .data-extra a {
    margin-bottom: 50px;
  }
}
.data-extra a.only-mobile {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
@media (min-width: 992px) {
  .data-extra a.only-mobile {
    display: none;
  }
}
.data-extra a.only-pc {
  display: none;
}
@media (min-width: 992px) {
  .data-extra a.only-pc {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
.data-extra .extras {
  margin: 20px 0;
}
@media (min-width: 992px) {
  .data-extra .extras {
    margin: 0;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1600px) {
  .data-extra .extras {
    margin: 20px 0;
  }
}
.data-extra .extras li {
  position: relative;
  padding-left: 40px;
  margin-top: 40px;
  font-size: 15px;
  line-height: 20px;
}
@media (min-width: 992px) {
  .data-extra .extras li {
    width: 45%;
  }
}
@media (min-width: 1600px) {
  .data-extra .extras li {
    font-size: 18px;
    line-height: 24px;
  }
}
.data-extra .extras li img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.data-extra .extras li h4 {
  font-weight: 600;
}

/*--------------------------------------------------------------
10.0 DESTINOS
--------------------------------------------------------------*/
.slider-header-wrapper {
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: 1;
}
.slider-header-wrapper .slide-progress {
  position: absolute;
  z-index: 111;
  width: 0;
  max-width: 100%;
  height: 5px;
  background: #FF6C6C;
  bottom: 0;
}
@media (min-width: 992px) {
  .slider-header-wrapper .slide-progress {
    left: 120px;
  }
}
@media (min-width: 1200px) {
  .slider-header-wrapper .slide-progress {
    left: 180px;
    max-width: 90%;
  }
}
@media (min-width: 1600px) {
  .slider-header-wrapper .slide-progress {
    left: 260px;
  }
}
.slider-header-wrapper .slider-header .item-slider .imagen-fondo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.slider-header-wrapper .slider-header .item-slider .imagen-fondo img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.slider-header-wrapper .slider-header .item-slider .contenido {
  padding-top: 50%;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 75px;
  position: relative;
  z-index: 11;
}
@media (min-width: 992px) {
  .slider-header-wrapper .slider-header .item-slider .contenido {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  .slider-header-wrapper .slider-header .item-slider .contenido {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 12%;
    padding-bottom: 13%;
  }
}
@media (min-width: 1600px) {
  .slider-header-wrapper .slider-header .item-slider .contenido {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 12%;
    padding-bottom: 13%;
  }
}
.slider-header-wrapper .slider-header .item-slider .contenido h1 {
  font-family: "Druk", "Helvetica Neue Roman", sans-serif;
  font-size: 75px;
  line-height: 75px;
  text-transform: uppercase;
}
@media (min-width: 370px) {
  .slider-header-wrapper .slider-header .item-slider .contenido h1 {
    font-size: 90px;
    line-height: 85px;
  }
}
@media (min-width: 410px) {
  .slider-header-wrapper .slider-header .item-slider .contenido h1 {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  .slider-header-wrapper .slider-header .item-slider .contenido h1 {
    font-size: 160px;
    line-height: 148px;
  }
}
@media (min-width: 1600px) {
  .slider-header-wrapper .slider-header .item-slider .contenido h1 {
    font-size: 240px;
    line-height: 198px;
  }
}
.slider-header-wrapper .slider-header .item-slider .contenido .texto {
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 370px) {
  .slider-header-wrapper .slider-header .item-slider .contenido .texto {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (min-width: 410px) {
  .slider-header-wrapper .slider-header .item-slider .contenido .texto {
    font-size: 24px;
    max-width: 45%;
  }
}
@media (min-width: 1200px) {
  .slider-header-wrapper .slider-header .item-slider .contenido .texto {
    max-width: 45%;
    font-size: 28px;
    line-height: 36px;
  }
}
@media (min-width: 1600px) {
  .slider-header-wrapper .slider-header .item-slider .contenido .texto {
    max-width: 40%;
    font-size: 36px;
    line-height: 46px;
  }
}
.slider-header-wrapper .slider-header .item-slider .contenido .texto small {
  font-size: 70%;
}
.slider-header-wrapper .slider-header .item-slider .contenido .wrapper-buttons {
  margin-top: 40px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .slider-header-wrapper .slider-header .item-slider .contenido .wrapper-buttons {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
}
.slider-header-wrapper .slider-header .item-slider .contenido .wrapper-buttons a {
  border: 2px solid #fff;
  margin: 10px 5px;
}
@media (min-width: 1600px) {
  .slider-header-wrapper .slider-header .item-slider .contenido .wrapper-buttons a {
    width: 220px;
    height: 60px;
    font-size: 18px;
  }
}
.slider-header-wrapper .slider-header .item-slider .contenido.azul {
  background-color: #FF6C6C;
  color: #2B00FF;
}
.slider-header-wrapper .slider-header .item-slider .contenido.azul .wrapper-buttons a {
  border-color: #2B00FF;
}

/*OWL NAVS*/
.owl-nav {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 1111;
  left: 40px;
}
@media (min-width: 992px) {
  .owl-nav {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
@media (min-width: 1200px) {
  .owl-nav {
    left: 100px;
  }
}
@media (min-width: 1600px) {
  .owl-nav {
    left: 140px;
  }
}
.owl-nav .owl-prev, .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
@media (min-width: 1600px) {
  .owl-nav .owl-prev, .owl-nav .owl-next {
    width: 60px;
    height: 60px;
  }
}
.owl-nav .owl-prev img, .owl-nav .owl-next img {
  width: 80%;
  display: block;
}
@media (min-width: 1600px) {
  .owl-nav .owl-prev img, .owl-nav .owl-next img {
    width: 100%;
  }
}
.owl-nav .owl-prev {
  border-right: 1px solid #585955;
}
.owl-nav .flecha-izquierda {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*OWL DOTS*/
.owl-dots {
  display: none;
}
@media (min-width: 992px) {
  .owl-dots {
    display: block;
    left: 160px;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 55px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    counter-reset: div-counter;
  }
}
@media (min-width: 1200px) {
  .owl-dots {
    left: 220px;
  }
}
@media (min-width: 1600px) {
  .owl-dots {
    left: 300px;
    height: 40px;
  }
}
.owl-dots:before {
  content: "";
  background-color: #fff;
  display: block;
  background-color: #fff;
  height: 1px;
  width: 30px;
  top: 9px;
  right: 11px;
  position: absolute;
}
.owl-dots:after {
  content: counter(div-counter);
  right: 0;
  left: initial;
  position: absolute;
}
.owl-dots .owl-dot {
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}
.owl-dots .owl-dot:after {
  content: counter(div-counter);
  counter-increment: div-counter;
}
.owl-dots .owl-dot.active {
  visibility: visible;
}

/*
* SLIDERS DE DESTINOS
*/
.slider-destinos-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;
}
.slider-destinos-wrapper .slide-progress.verde {
  background-color: #72DDD3;
}
.slider-destinos-wrapper .slide-progress.rosa {
  background-color: #FF6C6C;
}
.slider-destinos-wrapper .slide-progress.amarillo {
  background-color: #F4E41E;
}
.slider-destinos-wrapper ul {
  height: 100%;
}
.slider-destinos-wrapper .owl-nav {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  width: 100%;
  left: 0;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .slider-destinos-wrapper .owl-nav {
    left: 40px;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .slider-destinos-wrapper .owl-nav {
    left: 100px;
  }
}
@media (min-width: 1600px) {
  .slider-destinos-wrapper .owl-nav {
    left: 140px;
  }
}

/*
 * slider de experiencias
*/
.wrapper-slider-testimonios .slide-progress {
  position: absolute;
  z-index: 111;
  width: 0;
  max-width: 50%;
  height: 5px;
  background: #2B00FF;
  bottom: 0;
}
@media (min-width: 992px) {
  .wrapper-slider-testimonios .slide-progress {
    left: 80px;
  }
}
@media (min-width: 1600px) {
  .wrapper-slider-testimonios .slide-progress {
    left: 120px;
  }
}
.wrapper-slider-testimonios #experiencias-slider .owl-nav {
  left: 0;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  width: 100%;
  left: 0;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  top: calc( 380px - 40px);
}
@media (min-width: 768px) {
  .wrapper-slider-testimonios #experiencias-slider .owl-nav {
    top: calc( 410px - 40px);
  }
}
@media (min-width: 992px) {
  .wrapper-slider-testimonios #experiencias-slider .owl-nav {
    top: initial;
    bottom: 0;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .wrapper-slider-testimonios #experiencias-slider .owl-dots {
    left: 100px;
  }
}
@media (min-width: 1600px) {
  .wrapper-slider-testimonios #experiencias-slider .owl-dots {
    left: 140px;
  }
}

/*--------------------------------------------------------------
11.0 ANIMACIONES
--------------------------------------------------------------*/
.animate-slide-up {
  opacity: 0;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.animate-slide-left {
  opacity: 0;
  animation-name: slide-left;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*# sourceMappingURL=style.css.map */
