@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 FOOTER
6.0 Main Header & nav
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*para eliminar los float*/
header, section, footer, aside {
  clear: both;
}

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto;
}

/*input al 100%*/
input, select {
  display: block;
  width: 100%;
}

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  border: none;
  background-color: transparent;
}

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
/*HELVETICA*/
@font-face {
  font-family: "Helvetica Neue Roman";
  src: url("../fonts/helvetica/helveticaneueltstd-roman.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-roman.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-roman.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-ex.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-ex.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-ex.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-ex.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-it.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-it.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-it.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-bd.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-bd.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-bd.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-md.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-md.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-md.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-md.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica/helveticaneueltstd-lt.eot");
  src: url("../fonts/helvetica/helveticaneueltstd-lt.woff") format("woff"), url("../fonts/helvetica/helveticaneueltstd-lt.svg") format("svg"), url("../fonts/helvetica/helveticaneueltstd-lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
/*
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-th.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-th.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-th.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-th.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}*/
/*DRUK*/
@font-face {
  font-family: "Druk";
  src: url("../fonts/druk/druk-medium.eot");
  src: url("../fonts/druk/druk-medium.woff") format("woff"), url("../fonts/druk/druk-medium.svg") format("svg"), url("../fonts/drukdruk-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
/*@font-face {
    font-family: 'Druk';
    src: url('../fonts/druk/druk-heavy.eot');
    src: url('../fonts/druk/druk-heavy.woff') format('woff'),
        url('../fonts/druk/druk-heavy.svg') format('svg'),
        url('../fonts/druk/druk-heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Druk';
    src: url('../fonts/druk/druk-bold.eot');
    src: url('../fonts/druk/druk-bold.woff') format('woff'),
        url('../fonts/druk/druk-bold.svg') format('svg'),
        url('../fonts/druk/druk-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Super';
    src: url('../fonts/druk/druk-super.eot');
    src: url('../fonts/druk/druk-super.woff') format('woff'),
        url('../fonts/druk/druk-super.svg') format('svg'),
        url('../fonts/druk-super.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}*/
/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/*GRID OPTIONS*/
/*EXTEND*/
.btn, .btn-icon-left {
  cursor: pointer;
  position: relative;
  outline: none;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
.btn:hover, .btn-icon-left:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/*
@media (min-width: $md) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;


&:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
*/
/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/
html, body {
  font-family: "Helvetica Neue Roman", sans-serif;
  color: #585955;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  html, body {
    font-size: 16px;
    line-height: 24px;
  }
}

.main-wrapper {
  position: relative;
}

.inner-wrapper {
  position: relative;
}

/*--------------------------------------------------------------
5.0 BTNS
--------------------------------------------------------------*/
.btn-icon-left img {
  padding-right: 10px;
  vertical-align: middle;
}

/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/
.main-footer {
  position: relative;
  background-color: #2B00FF;
  color: #fff;
  padding: 50px 40px 60px;
  font-size: 14px;
  line-height: 28px;
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 100px 100px 45px;
  }
}
@media (min-width: 1600px) {
  .main-footer {
    padding: 200px 180px 65px;
  }
}

.footer-wrapper {
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}

.contacto {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .contacto {
    width: 25%;
  }
}
.contacto li {
  margin: 6px 0;
}

@media (min-width: 1200px) {
  .sucursales {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    width: 75%;
  }
}
.sucursales li {
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .sucursales li {
    width: 33%;
  }
}
.sucursales li h4 {
  font-family: "Helvetica Neue", "Helvetica Neue Roman", sans-serif;
  font-weight: 700;
}

.title-patrocinadores {
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .title-patrocinadores {
    margin-right: 55px;
  }
}

.patrocinadores {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
.patrocinadores li {
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .patrocinadores li {
    margin-right: 40px;
  }
}

.legales-wrapper {
  margin-top: 60px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  font-size: 10px;
  line-height: 17px;
}
@media (min-width: 1200px) {
  .legales-wrapper {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
  }
}
.legales-wrapper img {
  width: 57px;
}
@media (min-width: 768px) {
  .legales-wrapper img {
    width: 67px;
  }
}
.legales-wrapper .legales {
  padding-left: 20px;
}
.legales-wrapper .legales p {
  display: block;
  margin: 10px 0;
}
@media (min-width: 1200px) {
  .legales-wrapper .legales p {
    display: inline;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .row-reverse-dk {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .align-center-dk {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
}

/*--------------------------------------------------------------
7.0 Main Header & nav
--------------------------------------------------------------*/
/*
 * toogle
*/
.toggle {
  position: relative;
  z-index: 11;
  cursor: pointer;
  display: block;
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
.toggle:focus {
  border: none;
  outline: none;
}
.toggle .tog1 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #585955;
  position: absolute;
  left: 5px;
  top: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.toggle .tog2 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #585955;
  position: absolute;
  left: 10px;
  top: 20px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.toggle .tog3 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #585955;
  position: absolute;
  left: 5px;
  top: 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.toggle:hover .tog2 {
  left: 5px;
}

.toggle-open .tog2 {
  display: none;
}

.toggle-open .tog1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: initial;
}

.toggle-open .tog3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: initial;
}

/*
 * MAIN MENU
*/
.main-menu-wrapper {
  right: -300%;
  opacity: 0;
  position: absolute;
  background-color: blue;
}

/*# sourceMappingURL=style.css.map */
