/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 FOOTER
6.0 Main Header & nav
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 16px;
    line-height: 20px;
    overflow-x: hidden;
    @media (min-width: $lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

.main-wrapper {
   position: relative; 
}

.inner-wrapper {
    position: relative;
}

.section-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
5.0 BTNS
--------------------------------------------------------------*/

@import 'sass/btns';


/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/

@import 'sass/main-footer';

/*--------------------------------------------------------------
7.0 Main Header & nav
--------------------------------------------------------------*/

@import 'sass/main-header';

/*
 * inicio
*/

@import 'sass/inicio';