.btn {
    cursor: pointer;
    position: relative;
    outline: none;
    @include transition(all $transitionSpeed);
}
.btn-hover-opacity {
    &:hover {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}

.btn-icon-left {
    @extend .btn;
    @extend .btn-hover-opacity;
    
    img {
        padding-right: 10px;
        vertical-align: middle;
    }
}

.btn-icon-left-notransition {
    cursor: pointer;
    position: relative;
    outline: none;
    @extend .btn-hover-opacity;
    
    img {
        padding-right: 10px;
        vertical-align: middle;
    }
}

.icon-btn-right {
    @extend .btn;
    @extend .btn-hover-opacity;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    width: 165px;
    @include border-radius(25px);
    padding-left: 15px;
    padding-right: 12px;
    font-size: 14px;
    padding-top: 2px;

    @media (min-width: $xlg) {
        font-size: 16px;
        padding-left: 35px;
        padding-right: 25px;
        height: 60px;
        width: 220px;
        height: 55px;
        width: 210px;
    }

    img {
        vertical-align: middle;
        width: 15px;
        @media (min-width: $xlg) {
            width: 19px;
        }
    }
}