.slider-header-wrapper {
    background-color: $color-azul;
    color: $color-blanco;
    padding-top: 70px;
    z-index: 1;
    @media (min-width: $lg) {
        padding-top: 100px;
    }

    .legales-header {
        z-index: 2;
        margin-top: 10px;
        margin-bottom: 5px;
        @media (min-width: $lg) {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            position: absolute;
            margin: 0;
            top: 0px;
            right: 150px;
            height: 100px;
        }

        p {
            font-size: 9px;
            font-family: $fuente-secundaria;
            font-weight: 500;
            text-align: center;
            @media (min-width: $sm) {
                font-size: 10px;
            }
            @media (min-width: $lg) {
                text-align: right;
            }
        }
    }
}//.slider-header-wrapper

/*
 * NOSOTROS
*/
.nosotros-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;

    .icon-vertical {
        width: 20%;
        max-width: 75px;
        background-color: $color-azul;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;

        @media (min-width: $lg) {
            max-width: $paddingLeftRightLG;
        }
        @media (min-width: $xlg) {
            max-width: $paddingLeftRightXLG;
        }

        img {
            width: 90%;
            display: block;
            margin: 10px auto;
            max-width: 72px;
            height: auto;

            @media (min-width: $lg) {
                width: 100%;
            }
            @media (min-width: $xlg) {
                width: 72px;
            }
        }
    }
    
    .contenido-nosotros {
        width: 80%;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-grow: 1;
        -o-flex-grow: 1;
        flex-grow: 1;
        color: $color-azul;

        @media (min-width: $lg) {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
        }
    }//.contenido-nosotros 

    .contenido {
        font-size: 15px;
        padding: 70px 15% 20px 10%;
        @media (min-width: $lg) {
            font-size: 16px;
            width: 47%;
            padding: 220px 5% 140px 8%;
        }
        @media (min-width: $xlg) {
            padding: 300px 5% 150px 8%;
        }

        h2 {
            font-family: $fuente-especial;
            text-transform: uppercase;
            font-size: 55px;
            line-height: 70px;
            margin-bottom: 20px;
            
            @media (min-width: $lg) {
                font-size: 100px;
                line-height: 198px;
                margin-bottom: 40px;    
            }
        }

        p {
            margin-bottom: 20px;
        }

        a {
            color: #FF6C6C;
            display: block;
            margin-top: 15px;
            font-size: 14px;
            font-family: $fuente-secundaria;
            font-weight: 500;

            &:after {
                content: '>';
                padding-left: 7px;
            }

            @media (min-width: $lg) {
                margin-top: 60px;
            }
            @media (min-width: $xlg) {
                margin-top: 100px;
            }
        }
    }

    .imagen-nosotros {
        position: relative;
        overflow: hidden;
        height: 160px;
        width: 100%;
        @media (min-width: $lg) {
            width: 53%;
            height: 100%;
        }
        img {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            @media (min-width: $lg) {
                top: 50%;
                left: 50%;
                @include transform(translate3d(-50%,-50%,0));
            }
        }
    }//.imagen-nosotros
}//.nosotros-wrapper

/*
 * VIAJO / VIAJE
*/
.viajo-viaje-wrapper {
    @media (min-width: $lg) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }
}

.viajo {
    color: $color-blanco;
    padding: 40px $paddingLeftRight;
    font-size: 12px;
    @media (min-width: $lg) {
        width: 50%;
        font-size: 16px;
        padding: 80px 50px 65px $paddingLeftRightLG;
    }
    @media (min-width: $xlg) {
        padding: 90px 50px 70px $paddingLeftRightXLG;
    }

    img {
        margin-bottom: 10px;
    }

    h3 {
        font-size: 24px;
        line-height: 48px;
    }

    ul {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;

        li {
            line-height: 12px;
            padding-right: 7px;
            border-right: 1px solid $color-blanco;
            margin-left: 7px;
            margin-bottom: 10px;
            
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }
}

.viajo-wrapper {
    @extend .viajo;
    background:$color-azul;

}//.viajo-wrapper

.viaje-wrapper {
    @extend .viajo;
    background-color:#585955;

}//.viaje-wrapper

/*
 * INSTAGRAM
*/

.instagram-wrapper {
    @media (min-width: $lg) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }

    .instagram {
        cursor: pointer;
        width: 100%;
        position: relative;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        height: 340px;
        @media (min-width: $sm) {
            height: 500px;
        }
        @media (min-width: $md) {
            height: 360px;
        }
        @media (min-width: $lg) {
            width: 30%;
            height: 420px;
        }
        @media (min-width: $xlg) {
            height: 635px;
        }

        h2 {
            font-family: $fuente-secundaria;
            font-weight: 500;
            color: $color-azul;
            font-size: 24px;
            line-height: 32px;
            @media (min-width: $lg) {
                font-size: 36px;
                line-height: 48px;
            }
        }

        img {
            width: 35px;
            @media (min-width: $lg) {
                width: 55px;
            }
        }
    }//.instagram

    .wrapper-feed {
        display: none;

        @media (min-width: $lg) {
            color: $color-blanco;
            width: 70%;
            display: block;
            background-color: #FF6C6C;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
        }
    }
    
}//.instagram-wrapper