/*
 * toogle
*/
.toggle {
    position: relative;
    z-index: 11;
    cursor: pointer;
    display: block;
    border: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    @include transition(all $transitionSpeed);

    &:focus {
        border: none;
        outline: none;
    }

    .tog1 {
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: $color-negro;
        position: absolute;
        left: 5px;
        top: 10px;
        @include transition(all $transitionSpeedx2);
    }
    
    .tog2 {
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: $color-negro;
        position: absolute;
        left: 10px;
        top: 20px;
        @include transition(all $transitionSpeedx2);
    }
      
    .tog3 {
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: $color-negro;
        position: absolute;
        left: 5px;
        top: 30px;
        @include transition(all $transitionSpeedx2);
    }

}//.toggle

.toggle:hover .tog2 {
    left: 5px;
  }
  
.toggle-open .tog2 {
display: none;
}
.toggle-open .tog1 {
    @include transform(rotate(45deg));
    top: initial;
}
.toggle-open .tog3 {
    @include transform(rotate(-45deg));
    top: initial;
}


/*
 * MAIN MENU
*/
.main-menu-wrapper {
    right: -300%;
    opacity: 0;
    position: absolute;
    background-color: blue;
}